<div class="password-checklist" id="password-checklist">
    <div class="password-checklist-item" data-password-rule="length">
        <span class="password-rule-icon">•</span>
        <span>Pelo menos 8 caracteres</span>
    </div>
    <div class="password-checklist-item" data-password-rule="uppercase">
        <span class="password-rule-icon">•</span>
        <span>Pelo menos uma letra maiúscula</span>
    </div>
    <div class="password-checklist-item" data-password-rule="lowercase">
        <span class="password-rule-icon">•</span>
        <span>Pelo menos uma letra minúscula</span>
    </div>
    <div class="password-checklist-item" data-password-rule="number">
        <span class="password-rule-icon">•</span>
        <span>Pelo menos um número</span>
    </div>
    <div class="password-checklist-item" data-password-rule="special">
        <span class="password-rule-icon">•</span>
        <span>Pelo menos um caractere especial</span>
    </div>
</div>
